name: Go
on: [push]
jobs:

  test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.17.x', '1.18.x', '1.19.x']
    steps:

    - name: Setup go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Get dependencies
      run: | 
        go get -u -v golang.org/x/lint/golint
        go mod tidy -v
    - name: Linter
      run: golint -set_exit_status ./...

    - name: Tests
      run: go test -coverprofile=coverage.txt -covermode=atomic ./...

    - name: Codecov
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }} 
      run: bash <(curl -s https://codecov.io/bash)
